@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";

.course-detail{
  .swiper{
    position: relative;
    .page{
      position: absolute;
      right: 30px;
      bottom: 50px;
      color:$color-grey-1;
      font-size: $font-size-small;
      background-color:$color-white;
      border-radius: 10px;
      padding:5px 15px;
    }
    .icon{
      position: absolute;
      top:20px;
      right:30px;
      display: flex;
      &-item{
        background-color: rgba(0, 0, 0, .3);
        border-radius: 50%;
        width:50px;
        height:50px;
        position: relative;
        .at-icon{
          color:$color-white;
          @include absolute-center;
        }
        .button-share{
          width:100%;
          height:100%;
          border:none;
          @include absolute-center;
        }
      }
      &-share{
        margin-left:10px;
      }
    }
  }
  .detail{
    padding:30px 24px;
    .price{
      color:$color-brand;
      font-size:$font-size-middle;
    }
    .desc-sale{
      @include display-flex;
      @include align-items(center);
      @include justify-content(space-between);
      .desc{
        color:$color-grey-0;
      }
      .line{
        width:2px;
        background-color: $color-grey-1;
        height:32px;
      }
      .sale{
        @include display-flex;
        @include flex-direction(column);
        font-size:$font-size-mini;
        .sale_number{
          color:$color-brand;
        }
        .sale_text{
          color:$color-grey-1;
        }
      }
    }
    .tips{
      color:$color-grey-1;
      font-size:$font-size-mini;
    }
    .reason{
      &-title{
        color:$color-grey-1;
        font-size:$font-size-mini;
        margin:30px 0px;
      }
      &-list{
        background-color: color-percent($color-grey-2,0.3);
        border-radius: 10px;
        margin-right: 20px;
        padding:15px 20px;
      }
      &-item{
        @include display-flex;
        @include align-items(center);
        margin-bottom: 15px;
      }
      &-index{
        color:$color-brand;
        width:30px;
        height:30px;
        line-height: 30px;
        text-align: center;
        border:1px solid $color-brand;
        border-radius: 100%;
        margin-right: 15px;
      }
      &-text{
        color:$color-grey-1;
        font-size:$font-size-mini;
      }
    }
  }
  .block-line{
    height:25px;
    background-color: color-percent($color-grey-2,0.3);
  }
  .course-list,.rate-list{
    padding-right: 24px;
  }
}
