//taro-ui的主题颜色修改
$color-brand:#47cab3;
$color-brand-light: #75d7c6;
$color-brand-dark: #39a28f;
$color-brand-deep: #009999;



// 自定义的相关变量
$border-color:rgb(204, 204, 204);
$color-grey-0: #333 !default;
$color-grey-1: #aaa !default;
$color-grey-2: #ccc !default;
$font-size-normal:28px;
$font-size-middle:32px;
$font-size-small:24px;
$font-size-mini:20px;