// 自定义的相关变量
$border-color:rgb(204, 204, 204);
$color-grey-0: #333 !default;
$color-grey-1: #aaa !default;
$color-grey-2: #ccc !default;
$color-grey-3: #666 !default;
$color-grey-4: #999 !default;
$color-white: #fff !default;
$font-size-normal:28px;
$font-size-middle:32px;
$font-size-small:24px;
$font-size-mini:20px;

//taro-ui的主题颜色修改
$color-brand:#47cab3;
$color-brand-light: #75d7c6;
$color-brand-dark: #39a28f;
$color-brand-deep: #009999;
//轻提示背景色
$at-toast-bg-color:rgba(0,0,0,0.5);

//边框颜色

